body {
    background-color: lightsteelblue;
}

h1 {
    text-align: center;
}

#mainContainer {
    margin-top: 100px;
    text-align: center;
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    /*border: 2px dotted black;*/
    
}

.gridRow {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-width: 500px;
    max-height: 500px;

}

.cell {   
    background-color: white;
    /*min-width: 16px;
    min-height: 16px;*/
    margin: 0;
    flex-grow: 1;
    
  }

#clearbtn {
    text-align: center;
    margin-top: 20px;
}

#gridSize {
    text-align: center;
    margin-top: 20px;
}