body {
    background-color: lightsteelblue;
}

#mainContainer {
    margin-top: 100px;
    text-align: center;
}

.cell {
    border: 2px solid black;
    background-color: white;
    min-width: 20px;
    min-height: 20px;
    display: inline-block;
    margin-left: 1px;
    margin-right: 1px;
    
  }

  div.cell:hover {
    background-color:black;
}